@import 'grid';
@import 'mixins';

html {
    background: #c0c0c0;
    font-family: 'Roboto';
    .App {
        .App-header {
            @include centered;
            @include textshadow;
            @include gold;
            font-size: 1.5em;
        }
        
        .leaflet-container { 
            @include centered;
            @include border;
            height: 60em; 
            width: 90%;
        }
        .AATitle {
            @include centered;
            @include gold;
            @include textshadow;
            font-size: 1.5em;
        }
        .victoryContainer {
            @include flexflow;
            @include border;
            border-right: none;
        }
        .RATitle {
            @include centered;
            @include gold;
            @include textshadow;
            font-size: 1.5em;
        }
        .rampContainer {
            @include flexflow;
            @include border;
            border-left: none;
        }
        footer {
            @include centered;
            @include textshadow;
            @include gold;
            margin: 1em;
            font-weight: bold;
            font-size: 1em;
        }
    }
}
